In [16]:
import pandas as pd
import pickle
import os

In [17]:
path_csv = '/Users/home/repos/pa005_fidelity_program/'
df5 = pd.read_csv(path_csv +'data/interim/cycle8/df4_feature_eng_done.csv', index_col=0)#, 
df5.head()

,customer_id,gross_revenue,recency_days,qtt_invoices,unique_products,unique_items,daily_purchase_rate,total_prod_returned
0,17850,5391.21,372.0,34.0,21.0,1733.0,17.000000,40.0
1,13047,3232.59,56.0,9.0,105.0,1390.0,0.028302,35.0
2,12583,6705.38,2.0,15.0,114.0,5028.0,0.040323,50.0
3,13748,948.25,95.0,5.0,24.0,439.0,0.017921,0.0
4,15100,876.00,333.0,3.0,1.0,80.0,0.073171,22.0

In [18]:
# path = os.path.abspath('..')+"/features/gr.pkl"
# path

In [19]:
gr= pickle.load(open('/Users/home/repos/pa005_fidelity_program/src/features/gross_revenue.pkl','rb') )

In [20]:
df5['gross_revenue'] = gr.transform(df5[['gross_revenue']])
df5['gross_revenue']

0       0.019312
1       0.011579
2       0.024020
3       0.003396
4       0.003137
          ...
5779    0.020415
5780    0.024202
5781    0.011524
5782    0.014152
5783    0.002845
Name: gross_revenue, Length: 5784, dtype: float64